@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body{
    margin: 0;
    height: 100vh;
}

#myCanva{
    background-image: url(../img/bg_star.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
};