@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#myCanva{
    background-image: url(../img/bg_star.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
};